<div class="amp-ca-blog">
    {{> blogSnippet snippet }}
     {{#if snippet}}
        <div class="amp-ca-blocks-container">
    {{/if}}
        <div class="amp-ca-blog-content"> 
        {{#each contentTypes as |item|}}
            <div class="amp-ca-block-wrap">{{>mapping item }}</div>
        {{/each}} 
        </div>
        {{#if snippet}}
    </div>
    {{/if}} 
</div>