<div class="dc-tabbed-slider" id="dc-tabbed-slider-1" data-startposition="0" data-options="progress: true, tabs: false, nav: true, dots: true, autoplayTimeout: 500000" data-responsive_850="progress: true, tabs: true, nav: false, dots: false">
    <ul class="dc-slider__slides">
        {{#each slides}} {{> dixonsSlide this index=@index }} {{/each}}
    </ul>
    <ul class="dc-slider__tabs">
        {{#each slides}}
        <li class="dc-slider__tab"><span data-slide="{{@index}}">{{title}}</span> </li>
        {{/each}}
    </ul>
</div>