<div class="dc-slot-container af-slot">
    {{#each contentTypes as |content| }}
    {{> mapping content }}
    {{/each}}
    <div class="af-debug-overlay">
        <div class="af-debug-menu">
            <div class="af-debug-menu-slot-name">Slot: {{_meta.name}}</div>
            <a href="https://content.amplience.net/#!/anyafinndemoneil/authoring/content-item/edit/5af1b214c9e77c00015eb7f5/{{this.id}}" class="af-button af-button-dark">View Slot</a>
            <a href="https://content.amplience.net/#!/anyafinndemoneil/planning/edition/5cb567544cedfd00011a5524/{{_meta.edition.id}}/" class="af-button af-button-dark">View Edition</a>
        </div>
    </div>
</div>