<div class="dc-slot-container af-slot">
    {{> mapping content }}
    <div class="af-debug-overlay">
        <div class="af-debug-menu">
            <div class="af-debug-menu-slot-name">Slot Name: {{_meta.name}}</div>
            <div class="af-debug-menu-slot-name">Slot ID: {{_meta.edition.id}}</div>
            <a href="https://content.amplience.net/#!/anyafinndemoneil/planning/edition/5cb567544cedfd00011a5524/{{_meta.edition.id}}/" class="af-button af-button-dark">View Edition</a>
        </div>
    </div>
</div>