<div class="mrhiImageContainers" style="">
{{#each contentTypes as |content| }}
	<div class="mrhiImageContainer" style="max-width:500px;float:left;">
    {{> mapping content }}
    </div>
{{/each}}
</div>