<!doctype html>
<!--[if lt IE 7]> <html class="ie6 lt-ie7 lt-ie8" lang="en-GB"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 lt-ie8" lang="en-GB"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en-GB"> <![endif]-->
<!--[if IE 9]>    <html class="ie9" lang="en-GB"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-GB" class="js">
<!--<![endif]-->

<head>
    <title>Currys | TVs, Washing Machines, Cookers, Cameras, Laptops</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/vnd.microsoft.icon" href="https://currys-ssl.cdn.dixons.com/grafx/favicon.png">
    <link rel="SHORTCUT ICON" type="image/x-icon" href="https://currys-ssl.cdn.dixons.com/grafx/favicon.ico">
    <link rel="apple-touch-icon" href="https://currys-ssl.cdn.dixons.com/grafx/apple-touch-icon.png">
    <link rel="canonical" href="https://www.currys.co.uk/gbuk/index.html">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]>
        <meta http-equiv="imagetoolbar" content="false">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
    <meta name="description" xml:lang="en-GB" lang="en-GB" content="Massive Range of TVs, Washing Machines, Cookers, Cameras, Laptops, Tablets &amp; more. ✓ Free Home Delivery or ✓ Reserve Online &amp; Collect In-Store">
    <meta name="keywords" xml:lang="en-GB" lang="en-GB" content="Currys,curry,currys.co.uk,curries,currys stores,currys electrical,currie,washing machines,ipods,dishwashers,televisions,tvs,fridges,fridge freezers,laptops,cookers,computers,sat nav,dvd players,blu ray players,home cinema,mobile broadband,mobile phones,cameras,digital cameras,hifis,playstation 3,xbox,Nintendo wii,gps,ovens,microwaves,tumble dryers,washer dryers,fridge freezers,gas cookers,range cookers,kettles,toasters,health grills,bread makers,fryers,coffee makers,vacuum cleaners,irons,heaters,fans,air con,hair dryers,tvs,projectors,netbooks,desktop pcs,pc monitors,printers,data storage,networking,mobile phones,home phones,fax machines,radios,pc gaming,free delivery">
    <meta name="robots" content="index, follow">
    <!--[if lte IE 8]>
<link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/style2.css" media="screen">
<script src="https://currys-ssl.cdn.dixons.com/js/ie8-print-fix.min.js"></script>
<![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/style.css?v=1521788042" media="screen">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/components.css" media="screen">
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/print.css" media="print">
    <script src="https://currys-ssl.cdn.dixons.com/js/platform.js"></script>
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/themes/home.css" media="screen">
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/themes/Homepage/wk47/css/wk47-homepage.css" media="screen" />
    <!-- Qubit OpenTag Universal Variable -->
    <!-- /Qubit OpenTag Universal Variable -->
    <!-- Qubit OpenTag Script -->
    <script src="https://d3c3cq33003psk.cloudfront.net/opentag-75667-654305.js" async defer></script>
    <!-- /Qubit OpenTag Script -->
    <link rel="stylesheet" href="https://mark.reevoo.com/stylesheets/reevoomark/embedded_reviews.css" type="text/css" />
    <!--[if gte IE 9]><!-->
    <script id="reevoomark-loader" type="text/javascript" charset="utf-8">
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://cdn.mark.reevoo.com/assets/reevoo_mark.js';
        var s = document.getElementById('reevoomark-loader');
        s.parentNode.insertBefore(script, s);
    })();
    if (typeof afterReevooMarkLoaded === 'undefined') {
        var afterReevooMarkLoaded = [];
    }
    afterReevooMarkLoaded.push(
        function() {
            ReevooApi.each('CYS'.split(/[ ,]+/), function(retailer) {
                retailer.init_badges();
                retailer.init_reevoo_reputation_badges();
            });
        }
    );
    </script>
    <!--<![endif]-->
    <!-- AdobeDTM_Header code -->
    <!--<script src="adobeheadscript.js"></script> -->
    <!-- <script src="https://assets.adobedtm.com/5e3c12259ba754dbb3132d54e5421a9f0f40dbce/satelliteLib-32636a7d43bf75eafaa1888f4d5b91bb32da400b.js"></script> -->
    <!-- /AdobeDTM_Header code -->
    <script>
    </script>
    <!-- Amplience Code -->
    <!-- dynamic optimized style sheet resources -->
    <link rel="stylesheet" href="/public/css/main.css" media="screen, projection">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/js/vendor/lory/dist/lory.min.js"></script>
    <script src="/js/custom/sliderHelper.js"></script>
    <!-- All styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">

<body>
    <!-- Start SiteCatalyst code version: H.23.3 -->
    <script>
    var s_account = 'dixonsrtcurrysprod';
    </script>
    <script src="https://currys-ssl.cdn.dixons.com/js/tags/s_code.js"></script>
    <script>
    s.eVar19 = 'not registered';
    s.eVar11 = 'non-browse';
    s.eVar37 = 'Customer';
    s.eVar12 = '';
    s.eVar14 = '';
    s.eVar15 = '';
    s.pageName = 'home';
    s.channel = 'home';
    s.prop1 = 'home';
    s.prop2 = 'home';
    s.prop3 = 'home';
    s.prop4 = 'home';
    s.eVar25 = 'home';

    var scData = [];
    var params = [];
    var successCallbacks = [];
    params.push({
        a: 'home',
        k: 'eVar12',
        f: '0',
        u: '-----'
    });
    successCallbacks['eVar12'] = function(data) {
        if ('none' === data)
            s.eVar12 = '';
        else
            s.eVar12 = data;
    };
    params.push({
        a: 'home',
        k: 'eVar14',
        f: '0',
        u: '-----'
    });
    successCallbacks['eVar14'] = function(data) {
        if ('none' === data)
            s.eVar14 = '';
        else
            s.eVar14 = data;
    };
    params.push({
        a: 'home',
        k: 'eVar15',
        f: '0',
        u: '-----'
    });
    successCallbacks['eVar15'] = function(data) {

        s.eVar15 = data;
        s.events = s.apl(s.events, "event93", ",", 1);;
    };
    scData.push({
        url: 'https://www.currys.co.uk/gb/uk/siteCatalystGrouped/ajax.html?params=' + JSON.stringify(params),

        successCallback: function(response) {
            var data = JSON.parse(response);
            for (var i = 0; i < data.length; i++) {
                var key = data[i].sKey;
                if (successCallbacks[key]) {
                    successCallbacks[key](data[i].sValue);
                }
            }
        },
        errorCallback: function() {

        }
    });
    </script>
    <!-- End SiteCatalyst code version: H.23.3 -->
    <!-- Rich Relevance track code -->
    <script src="https://media.richrelevance.com/rrserver/js/1.2/p13n.js"></script>
    <script>
    var R3_COMMON = new r3_common();
    R3_COMMON.setApiKey('cd10d5116928df8a');
    R3_COMMON.setBaseUrl('https://recs.richrelevance.com/rrserver/');

    R3_COMMON.addPlacementType('home_page.centre_bottom1');
    R3_COMMON.addPlacementType('home_page.centre_bottom2');
    var R3_HOME = new r3_home();
    </script>
    <!-- /Rich Relevance track code -->
    <!-- START SCHEMA.ORG MARKUP -->
    <div itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="https://www.currys.co.uk/gbuk/" />
        <meta itemprop="logo" content="https://currys-ssl.cdn.dixons.com/grafx/images/logos/currys_logo.png" />
    </div>
    <!-- END SCHEMA.ORG MARKUP -->
    <div id="telesales" class="desktop"></div>
    <div id="page">
        <div id="wrapper">
            <header id="header" role="banner" class="row nosp">
                <!-- Start Header -->
                <h1 id="logo" class="logo">
    <a href="https://www.currys.co.uk/gbuk/index.html" title="Back to home">
                    <img src="https://currys-ssl.cdn.dixons.com/grafx/images/logos/currys_logo.png" alt="Currys"/>
            </a>
</h1>
                <form class="search" id="searchForm" method="POST" action="https://www.currys.co.uk/gbuk/s_action/search_keywords/index.html">
                    <fieldset>
                        <input type="hidden" value="keyword_search" name="subaction">
                        <input type="hidden" value="" name="submitted_by" id="submitted_by">
                        <input type="search" id="search" autocomplete="off" spellcheck="false" name="search-field" placeholder="Product name or item no." required speech x-webkit-speech>
                        <button id="search_bttn" type="submit" class="button">Search</button>
                    </fieldset>
                </form>
                <div id="toolbar" class="header-toolbar">
                    <ul role="menubar">
                        <li role="menuitem" class="touch">
                            <a href="#nav">
                <i class="icon-reorder"></i> 
                <span class="noMobile">Menu</span>
            </a>
                        </li>
                        <li role="menuitem" class="touch searchBtn">
                            <a href="#searchForm">
                    <i class="icon-search"></i> 
                    <span class="noMobile">Search</span>
                </a>
                        </li>
                        <li role="menuitem">
                            <a id="stores_bttn" class="iLink" href="https://www.currys.co.uk/gbuk/s/find-a-store.html">
                <i class="icon-map-marker icon-large"></i> 
                <span class="noMobile">Stores</span>
            </a>
                        </li>
                        <li role="menuitem">
                            <div id="accountDropC" data-component="myAccountMenu" class="dc-site-currys"><a id="account_btn" class="iLink" href="https://www.currys.co.uk/gbuk/s/authentication.html"><i class="dcg-icon-myaccount icon-large"></i>&nbsp;<span class="noMobile">Sign in</span></a></div>
                        </li>
                        <li class="cart" role="menuitem">
                            <a id="basket_bttn" class="button icon" href="https://www.currys.co.uk/gbuk/o/initorder/basket-confirmation.html">
                <i class="dcg-icon-basket"></i>
                <span class="noMobile">
                    Basket</span>
                <span id="cart"><span class="qty empty">0</span></span>
            </a>
                        </li>
                    </ul>
                </div>
                <script>
                var sCartItemCountURL = 'https://www.currys.co.uk/gb/uk/cart/function/getCountItems/ajax.html',
                    sTelesaleURL = 'https://www.currys.co.uk/gb/uk/getcontentblock/sBlockName/dspBlockTelesaleAuthentication/ajax.html'
                </script>
                <!-- End Header -->
            </header>
            <!-- Start Nav -->
            <div id="nav" class="primary touch" role="navigation">
                <ul class="nav">
                    <li class="home" data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/index.html">Home</a>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/household-appliances-35-u.html">Kitchen Appliances</a>
                        <ul>
                            <li id="ucms_5523_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/laundry-332-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5523/ajax.html">Laundry</a>
                            </li>
                            <li id="ucms_5637_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/dishwashing-350-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5637/ajax.html">Dishwashers</a>
                            </li>
                            <li id="ucms_6093_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/cooking-335-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6093/ajax.html">Cooking</a>
                            </li>
                            <li id="ucms_6069_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/refrigeration-333-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6069/ajax.html">Refrigeration</a>
                            </li>
                            <li id="cmlink_6205_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/built-in-1200-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6205/ajax.html">Built-in appliances</a>
                            </li>
                            <li id="cmlink_6573_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_6127_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-kitchen-appliances">Buying for business?</a>
                            </li>
                            <li id="cmlink_6120_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6120/ajax.html">Shop by brand</a>
                            </li>
                            <li id="cmlink_9898_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/energy-saver-1494-commercial.html">Compare Energy plans</a>
                            </li>
                            <li id="not_clickable_6125_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6125/ajax.html">Services</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/home-appliances-36-u.html">Small Appliances</a>
                        <ul>
                            <li id="ucms_5527_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/home-appliances/floorcare-337-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5527/ajax.html">Floorcare</a>
                            </li>
                            <li id="ucms_5569_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/home-appliances/ironing-338-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5569/ajax.html">Ironing</a>
                            </li>
                            <li id="ucms_5573_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/home-appliances/health-wellbeing-341-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5573/ajax.html">Health &amp; wellbeing</a>
                            </li>
                            <li id="ucms_5571_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/home-appliances/sewing-machines/sewing-machines/470_4135_31889_xx_xx/xx-criteria.html">Sewing machines</a>
                            </li>
                            <li id="ucms_5563_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/small-kitchen-appliances-336-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5563/ajax.html">Small kitchen appliances</a>
                            </li>
                            <li id="cmlink_9507_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/small-kitchen-appliances/small-cooking-appliances-3155-m.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/9507/ajax.html">Small cooking appliances</a>
                            </li>
                            <li id="ucms_5567_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/cooking/microwaves/335_3152_32014_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5567/ajax.html">Microwaves</a>
                            </li>
                            <li id="ucms_5565_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/home-appliances/heating-and-cooling-339-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5565/ajax.html">Fans, heating &amp; air treatment</a>
                            </li>
                            <li id="cmlink_9821_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/home-appliances/home-accessories-591-c.html">Home accessories</a>
                            </li>
                            <li id="cmlink_7564_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/small-kitchen-appliances/coffee-machines-and-accessories-3159-m.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/7564/ajax.html">Coffee</a>
                            </li>
                            <li id="ucms_7641_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/household-appliances/cookware-400-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/7641/ajax.html">Cookware and bakeware</a>
                            </li>
                            <li id="cmlink_5632_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_5630_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5630/ajax.html">Learn more about</a>
                            </li>
                            <li id="cmlink_5634_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/care-plans-kitchen-appliances-279-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5634/ajax.html">Services</a>
                            </li>
                            <li id="cmlink_5649_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-small-appliances">Buying for business?</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment-31-u.html">TV & Entertainment</a>
                        <ul>
                            <li id="ucms_5648_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment/televisions-301-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5648/ajax.html">Televisions</a>
                            </li>
                            <li id="ucms_5691_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment/tv-accessories-302-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5691/ajax.html">TV accessories</a>
                            </li>
                            <li id="ucms_5681_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment/digital-and-smart-tv-304-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5681/ajax.html">Digital and smart TV</a>
                            </li>
                            <li id="ucms_5679_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment/dvd-blu-ray-and-home-cinema-303-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5679/ajax.html">DVD, Blu-ray and home cinema</a>
                            </li>
                            <li id="ucms_5709_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment/gaming-430-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5709/ajax.html">Gaming </a>
                            </li>
                            <li id="ucms_5717_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing/projectors-570-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5717/ajax.html">Projectors</a>
                            </li>
                            <li id="cmlink_6562_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/compare-tv-phone-and-broadband-1214-commercial.html">Compare digital TV packages</a>
                            </li>
                            <li id="cmlink_5721_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_5725_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-tv-entertainment">Buying for business?</a>
                            </li>
                            <li id="cmlink_5719_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5719/ajax.html">Shop by brand</a>
                            </li>
                            <li id="not_clickable_5699_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5699/ajax.html">Learn more about</a>
                            </li>
                            <li id="cmlink_5723_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/knowhow-tv-609-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5723/ajax.html">Services</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders-38-u.html">Cameras</a>
                        <ul>
                            <li id="ucms_6329_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders/digital-cameras-344-c.html">All cameras</a>
                            </li>
                            <li id="ucms_5557_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders/digital-cameras/dslr-and-compact-system-cameras/344_3757_31522_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5557/ajax.html">Interchangeable lens cameras</a>
                            </li>
                            <li id="ucms_5585_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders/digital-cameras/compact-and-bridge-cameras/344_3199_30301_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5585/ajax.html">Digital compact cameras</a>
                            </li>
                            <li id="ucms_5624_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders/camcorders-347-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5624/ajax.html">Camcorders</a>
                            </li>
                            <li id="ucms_5607_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders/photography-accessories-346-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5607/ajax.html">Photography accessories</a>
                            </li>
                            <li id="not_clickable_5620_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5620/ajax.html">Optics</a>
                            </li>
                            <li id="cmlink_9555_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/sat-nav-403-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/9555/ajax.html">Sat nav</a>
                            </li>
                            <li id="cmlink_5671_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_5677_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-cameras">Buying for business?</a>
                            </li>
                            <li id="not_clickable_5667_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5667/ajax.html">Advice/ Buying guides</a>
                            </li>
                            <li id="cmlink_5673_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/care-plans-cameras-camcorders-318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5673/ajax.html">Services</a>
                            </li>
                            <li id="cmlink_5658_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5658/ajax.html">Shop by brand</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/audio-and-headphones-32-u.html">Audio</a>
                        <ul>
                            <li id="cmlink_5683_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/audio-and-headphones/audio-550-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5683/ajax.html">All audio</a>
                            </li>
                            <li id="cmlink_10250_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/audio-and-headphones/audio/hifi-systems-and-speakers/550_4278_31971_xx_ba00010759-bv00308796%7Cbv00308797%7Cbv00309915/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/10250/ajax.html">Wireless Speakers</a>
                            </li>
                            <li id="cmlink_5685_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/hifi-systems/audio/hifi-systems-and-speakers/550_4278_31971_xx_ba00010759-bv00308795/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5685/ajax.html">Hi-Fi systems</a>
                            </li>
                            <li id="cmlink_5697_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/audio-and-headphones/audio/radios/550_4276_31970_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5697/ajax.html">Radios</a>
                            </li>
                            <li id="cmlink_9750_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/turntables/audio/hifi-systems-and-speakers/550_4278_31971_xx_ba00010759-bv00308800/xx-criteria.html">Turntables</a>
                            </li>
                            <li id="cmlink_9752_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/multi-room-hubs-and-adaptors/audio/hifi-systems-and-speakers/550_4278_31971_xx_ba00010759-bv00308799/xx-criteria.html">Audio accessories</a>
                            </li>
                            <li id="cmlink_6860_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment/dvd-blu-ray-and-home-cinema/home-cinema-systems-and-sound-bars/303_3018_30018_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6860/ajax.html">Home cinema systems</a>
                            </li>
                            <li id="cmlink_5694_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/audio-and-headphones/headphones-291-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5694/ajax.html">Headphones</a>
                            </li>
                            <li id="cmlink_5742_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/audio-and-headphones/audio/ipods-and-mp3-players/550_4275_31953_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5742/ajax.html">IPod, MP3 &amp; CD players</a>
                            </li>
                            <li id="cmlink_6186_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/office-supplies/dictaphones/510_4424_32068_xx_xx/xx-criteria.html">Dictaphones</a>
                            </li>
                            <li id="cmlink_5759_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_5765_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-audio">Buying for business?</a>
                            </li>
                            <li id="cmlink_5748_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5748/ajax.html">Shop by brand</a>
                            </li>
                            <li id="not_clickable_5761_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5761/ajax.html">Services</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/computing-33-u.html">Computing</a>
                        <ul>
                            <li id="ucms_5942_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing/laptops-315-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5942/ajax.html">Laptops</a>
                            </li>
                            <li id="ucms_5946_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing/tablets-and-ereaders-149-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5946/ajax.html">iPad, Tablets &amp; eReaders</a>
                            </li>
                            <li id="cmlink_9606_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/microsoft-surface/laptops/laptops/315_3226_30328_195_ba00010671-bv00311857/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/9606/ajax.html">Microsoft Surface</a>
                            </li>
                            <li id="ucms_5971_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing/pc-monitors/pc-monitors/354_3057_30059_xx_xx/xx-criteria.html">PC monitors</a>
                            </li>
                            <li id="cmlink_6182_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing/projectors-570-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6182/ajax.html">Projectors</a>
                            </li>
                            <li id="ucms_5948_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing/desktop-pcs-317-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5948/ajax.html">Desktop PCs</a>
                            </li>
                            <li id="not_clickable_5980_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5980/ajax.html">Learn more about</a>
                            </li>
                            <li id="cmlink_5982_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/knowhow-computing-607-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5982/ajax.html">Services</a>
                            </li>
                            <li id="cmlink_5991_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_9883_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/tkh-trade-in-1538-commercial.html">Trade In</a>
                            </li>
                            <li id="cmlink_5951_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-computing">Buying for business?</a>
                            </li>
                            <li id="ucms_5976_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/printers-scanners-and-ink-319-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5976/ajax.html">Printers, scanners and ink</a>
                            </li>
                            <li id="cmlink_5978_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5978/ajax.html">Shop by brand</a>
                            </li>
                            <li id="cmlink_6564_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/compare-tv-phone-and-broadband-1214-commercial.html">Compare broadband deals</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/computing-accessories-40-u.html">PC Accessories</a>
                        <ul>
                            <li id="ucms_5814_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/printers-scanners-and-ink-319-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5814/ajax.html">Printers, scanners and ink</a>
                            </li>
                            <li id="ucms_5816_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/computer-accessories-318-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5816/ajax.html">Computer accessories</a>
                            </li>
                            <li id="ucms_5828_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/networking-321-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5828/ajax.html">Networking</a>
                            </li>
                            <li id="cmlink_5796_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-gaming-1150-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5796/ajax.html">PC gaming accessories</a>
                            </li>
                            <li id="ucms_5820_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/data-storage-355-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5820/ajax.html">Data storage</a>
                            </li>
                            <li id="ucms_5798_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/components-upgrades-324-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5798/ajax.html">Components &amp; upgrades</a>
                            </li>
                            <li id="ucms_5800_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/software-323-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5800/ajax.html">Software</a>
                            </li>
                            <li id="cmlink_9023_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/office-supplies-510-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/9023/ajax.html">Office Supplies</a>
                            </li>
                            <li id="ucms_5818_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/computing-accessories/computer-accessories/laptop-bags-and-cases/318_3059_30067_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5818/ajax.html">Laptop bags and cases</a>
                            </li>
                            <li id="cmlink_5826_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_5830_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/pc-world-business-1262-commercial.html?intcmp=business-nav-pcaccessories">Buying for business?</a>
                            </li>
                            <li id="cmlink_5822_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5822/ajax.html">Shop by brand</a>
                            </li>
                            <li id="not_clickable_5803_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5803/ajax.html">Learn more about</a>
                            </li>
                            <li id="cmlink_5824_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/other-knowhow-services-1941-theme.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5824/ajax.html">Services</a>
                            </li>
                        </ul>
                    </li>
                    <li data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav-39-u.html">Phones</a>
                        <ul>
                            <li id="cmlink_5785_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/mobile-phones-and-accessories-362-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5785/ajax.html">Mobile phones</a>
                            </li>
                            <li id="ucms_5805_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/mobile-phones-and-accessories/mobile-accessories/362_3413_32042_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5805/ajax.html">Mobile phone accessories</a>
                            </li>
                            <li id="cmlink_5833_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/broadband/mobile-broadband/571_4434_32080_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5833/ajax.html">Mobile broadband</a>
                            </li>
                            <li id="ucms_5878_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/telephones-343-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5878/ajax.html">Home phones</a>
                            </li>
                            <li id="ucms_5909_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/telephones/fax-machines/343_3196_32043_xx_xx/xx-criteria.html">Fax machines</a>
                            </li>
                            <li id="ucms_5894_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/sat-nav/sat-nav/403_3418_32056_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5894/ajax.html">Sat nav</a>
                            </li>
                            <li id="cmlink_5901_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/smart-tech/smart-tech-551-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5901/ajax.html">Smart tech</a>
                            </li>
                            <li id="cmlink_10165_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="cmlink_5929_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5929/ajax.html">Shop by brand</a>
                            </li>
                            <li id="not_clickable_5906_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5906/ajax.html">Learn more about</a>
                            </li>
                            <li id="cmlink_6560_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/compare-tv-phone-and-broadband-1214-commercial.html">Compare landline deals</a>
                            </li>
                        </ul>
                    </li>
                    <li class="special" data-level="1">
                        <a href="https://www.currys.co.uk/gbuk/smart-tech/smart-tech-551-c.html">Smart Tech</a>
                        <ul>
                            <li id="cmlink_5944_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/smart-tech/smart-tech/smart-watches-and-fitness-4338-m.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5944/ajax.html">Smart watches and fitness</a>
                            </li>
                            <li id="ucms_5984_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/mobile-phones-and-accessories/mobile-phones/362_3412_32041_xx_xx/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5984/ajax.html">Smart phones</a>
                            </li>
                            <li id="cmlink_6271_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/drones/smart-tech/smart-toys-and-gadgets/smart-toys/551_4376_31989_xx_ba00010927-bv00308854/xx-criteria.html">Drones</a>
                            </li>
                            <li id="cmlink_5994_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/smart-tech/smart-tech/smart-toys-and-gadgets-4376-m.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5994/ajax.html">Smart toys and gadgets</a>
                            </li>
                            <li id="cmlink_7281_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/smart-sound-multi-room-speakers/audio/hifi-systems-and-speakers/550_4278_31971_xx_ba00010759-bv00309915/xx-criteria.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/7281/ajax.html">Smart sound</a>
                            </li>
                            <li id="ucms_5954_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/smart-tech/smart-tech/smart-home-4281-m.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5954/ajax.html">Smart home</a>
                            </li>
                            <li id="not_clickable_6009_bttn" data-level="2">
                                <a href="#" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/6009/ajax.html">Learn more about</a>
                            </li>
                            <li id="cmlink_10206_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/search-keywords/xx_xx_xx_xx_xx/-clearance-/xx-criteria.html">Clearance</a>
                            </li>
                            <li id="ucms_5996_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav/sat-nav-403-c.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5996/ajax.html">Sat nav</a>
                            </li>
                            <li id="cmlink_5966_bttn" data-level="2">
                                <a href="https://www.currys.co.uk/gbuk/shop-by-brand-1318-commercial.html" data-rel="https://www.currys.co.uk/gb/uk/navbar/iMenuId/5966/ajax.html">Shop by brand</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div role="navigation" id="desktop-nav" class="desktop" data-controller="https://www.currys.co.uk/gb/uk/navbardesktop/sMenuIds/621-622-623-641-624-642-643-625-626/ajax.html">
                <ul class="nav">
                    <li class="home">
                        <a href="https://www.currys.co.uk/gbuk/index.html" title="Home"><span class="icon-home"></span></a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/household-appliances-35-u.html" data-rel="univ-0"> Kitchen Appliances</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/home-appliances-36-u.html" data-rel="univ-1"> Small Appliances</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/tv-and-home-entertainment-31-u.html" data-rel="univ-2"> TV & Entertainment</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/cameras-and-camcorders-38-u.html" data-rel="univ-3"> Cameras</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/audio-and-headphones-32-u.html" data-rel="univ-4"> Audio</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/computing-33-u.html" data-rel="univ-5"> Computing</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/computing-accessories-40-u.html" data-rel="univ-6"> PC Accessories</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/phones-broadband-and-sat-nav-39-u.html" data-rel="univ-7"> Phones</a>
                    </li>
                    <li class="desktop">
                        <a href="https://www.currys.co.uk/gbuk/smart-tech/smart-tech-551-c.html" data-rel="univ-8"> Smart Tech</a>
                    </li>
                </ul>
            </div>
            <!-- End Nav -->
            <div id="content" role="main">
                <!-- Start DSP -->
                <!-- This is where the Amplience page slot will go -->
                <div class="main js_page_wrap">