
                </div>
            </div>
        </div>
        <footer>
            <%- include('./hotspotloader.ejs', {}); %>
            <script src="https://currys-ssl.cdn.dixons.com/js/othersIndex.js?v=1521817445"></script>
        </footer>
    </body>
</html>