<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dixons Banner</title>
    <!-- Dixons Code -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="https://currys-ssl.cdn.dixons.com/grafx/favicon.png">
    <link rel="SHORTCUT ICON" type="image/x-icon" href="https://currys-ssl.cdn.dixons.com/grafx/favicon.ico">
    <link rel="apple-touch-icon" href="https://currys-ssl.cdn.dixons.com/grafx/apple-touch-icon.png">
    <link rel="canonical" href="https://www.currys.co.uk/gbuk/index.html">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]>
        <meta http-equiv="imagetoolbar" content="false">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <![endif]-->
    <meta name="description" xml:lang="en-GB" lang="en-GB" content="Massive Range of TVs, Washing Machines, Cookers, Cameras, Laptops, Tablets &amp; more. ✓ Free Home Delivery or ✓ Reserve Online &amp; Collect In-Store">
    <meta name="keywords" xml:lang="en-GB" lang="en-GB" content="Currys,curry,currys.co.uk,curries,currys stores,currys electrical,currie,washing machines,ipods,dishwashers,televisions,tvs,fridges,fridge freezers,laptops,cookers,computers,sat nav,dvd players,blu ray players,home cinema,mobile broadband,mobile phones,cameras,digital cameras,hifis,playstation 3,xbox,Nintendo wii,gps,ovens,microwaves,tumble dryers,washer dryers,fridge freezers,gas cookers,range cookers,kettles,toasters,health grills,bread makers,fryers,coffee makers,vacuum cleaners,irons,heaters,fans,air con,hair dryers,tvs,projectors,netbooks,desktop pcs,pc monitors,printers,data storage,networking,mobile phones,home phones,fax machines,radios,pc gaming,free delivery">
    <meta name="robots" content="index, follow">
    <!--[if lte IE 8]>
<link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/style2.css" media="screen">
<script src="https://currys-ssl.cdn.dixons.com/js/ie8-print-fix.min.js"></script>
<![endif]-->
    <!--[if gt IE 8]> -->
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/style.css?v=1521788042" media="screen">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/components.css" media="screen">
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/print.css" media="print">
    <script src="https://currys-ssl.cdn.dixons.com/js/platform.js"></script>
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/themes/home.css" media="screen">
    <link href="https://cloud.typography.com/735596/652002/css/fonts.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://currys-ssl.cdn.dixons.com/css/themes/Homepage/wk47/css/wk47-homepage.css" media="screen" />
    <script data-fuseaction="home" src="https://currys-ssl.cdn.dixons.com/js/vendorIndex.js?v=1521788042"></script>
    <!-- End Dixons Code -->
    <!-- Amplience Code -->
    <!-- dynamic optimized style sheet resources -->
    <link rel="stylesheet" href="/public/css/main.css" media="screen, projection">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/js/vendor/lory/dist/lory.min.js"></script>
    <script src="/js/custom/sliderHelper.js"></script>
    <!-- All styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1">
    <style>
    * {
        margin: 0;
        padding: 0;
    }

    .js_dixonsBanner_wrap {
        width: 930px;
        height: 200px;
    }
    /*.js_dixonsBanner_wrap{
            width:650px;
            height:340px;
        }*/

    .js_dixonsBanner_wrap {
        width: 785px;
        height: 200px;
    }
    </style>
</head>

<body>
    <div class="off-canvas">
        <div class="mainContentCard">
            <div class="amp-page">