
                </div>
            </div>
        </div>


        <footer>
            <div class="footer">

                <div class="row signUpBlock" style="text-align: center;padding-top: 30px;padding-bottom: 30px;display: block;height: auto;">
                    <div class="col-xs-12 signUpText" style="display: block; text-align: center; margin-bottom: 10px;"><p>JOIN THE PARTY</p></div>
<div class="col-xs-12" style="display: block">
     <p>Sign up for news on the latest offers, outfit inspo and lots of fun!<br>Don't worry- your personal details are safe with us.  For more info, check out our <a href="/privacy-policy">privacy policy</a></p><br>
</div>

                        <div class="col-xs-12 col-md-6 col-md-offset-3" style="display: block">
                            <form method="post" action="/email-signup" class="email_signup_form"><br>
                                <input type="text" placeholder="Enter your email address" name="email_signup" id="email_signup" class="email_signup"> <input type="submit" value="SIGN UP
" class="template_footer_newsletter_button" data-ra-event-click="" data-ra-category="Email" data-ra-label="Sign Up" data-ra-action="Click">
                            </form>
                        </div>
                        <div class="hidden-xs hidden-sm hidden-md col-lg-3"></div>
                    </div>



<div id="footerrow1" class="row">
    <div class="footerSocial col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <ul>
        <li><a href="http://blog.quizclothing.co.uk" target="new" title="Quiz Blog
"><span class="footer-social blog"></span></a></li>
        <li><a href="https://www.youtube.com/user/QuizFashion" title="Quiz on YouTube
" target="_blank" data-ra-social="" data-ra-network="Youtube" data-ra-action="Click" data-ra-target="https://www.youtube.com/user/QuizFashion"><span class="footer-social youtube"></span></a></li>
        <li><a href="http://www.facebook.com/pages/Quiz-Clothing/317159365257" title="Quiz on Facebook
" target="_blank" data-ra-social="" data-ra-network="Facebook" data-ra-action="Click" data-ra-target="http://www.facebook.com/pages/Quiz-Clothing/317159365257"><span class="footer-social facebook"></span></a></li>
        <li><a href="http://instagram.com/quizclothing" title="Quiz on Instagram
" target="_blank" data-ra-social="" data-ra-network="Instagram" data-ra-action="Click" data-ra-target="http://instagram.com/quizclothing"><span class="footer-social instagram"></span></a></li>
        <li><a href="https://twitter.com/Quizclothing" title="Quiz on Twitter
" target="_blank" data-ra-social="" data-ra-network="Twitter" data-ra-action="Click" data-ra-target="http://twitter.com/Quizclothing"><span class="footer-social twitter"></span></a></li>
        <li><a href="/snapchat" title="Quiz on Snapchat
" target="_blank" data-ra-social="" data-ra-network="Snapchat" data-ra-action="Click" data-ra-target="/snapchat"><span class="footer-social snapchat"></span></a></li>
    </ul>
    </div>
    <div class="footerApps col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p> DOWNLOAD THE APP
</p>
        <a href="https://itunes.apple.com/gb/app/quiz-clothing/id582961539?mt=8" target="_blank" title="Apple Quiz App
"><img alt="Apple Quiz App
" src="https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/NEW_homepage/appstore.jpg" width="130" height="38" class="img-responsive"></a>
        <a href="https://play.google.com/store/apps/details?id=com.poqstudio.app.platform.quiz" target="_blank" title="Android Quiz App
"><img src="https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/NEW_homepage/playstore.jpg" alt="Android Quiz App
" width="128" height="38" class="img-responsive"></a>
      </div>
</div>



<div id="footerrow2-mob">
<div class="panel-group quicklinks" id="quicklinks-help">
                    <div class="panel panel-default">
                        <div class="panel-heading">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#quicklinks-help" href="#collapseOne">Help
</a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
            <p><a href="https://www.quizclothing.co.uk/information" title="Visit Frequently Asked Questions
">FAQs
</a></p>
            <p><a href="https://www.quizclothing.co.uk/contact-us" title="Visit Contact Us
">Contact Us
</a></p>
            <p><a href="https://www.quizclothing.co.uk/information?1528204592#deliveryinformation" title="Visit Delivery Information">Delivery + Returns
</a></p>
            <p><a href="https://www.quizclothing.co.uk/google/store-locator" title="Visit Store Finder
">Store Finder
</a></p>
            <p><a href="https://www.quizclothing.co.uk/size-guide" title="Visit Size Guide
">Size Guide
</a></p>
                                    <p><a href="https://www.quizclothing.co.uk/unidays" title="Visit UNiDAYS 15&amp;percent; Student Discount
">UNiDAYS 15%
</a></p>
                                </div>
                </div>
                </div>
</div>


<div class="panel-group quicklinks" id="quicklinks-information">
                    <div class="panel panel-default">
                        <div class="panel-heading">
          <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#quicklinks-information" href="#myaccount">Information
</a></h4>
                        </div>
                        <div id="myaccount" class="panel-collapse collapse">
                            <div class="panel-body">
            <p><a href="https://www.quizclothing.co.uk/about-us" title="Visit About Us
">About Us
</a></p>
                        <p><a href="http://www.quizgroup.co.uk/" title="Visit Investor Relations" target="_blank">Investor Relations</a></p>
            <p><a href="https://www.quizclothing.co.uk/terms-and-conditions" title="Visit Terms &amp; Conditions
">Terms &amp; Conditions
</a></p>
                        <p><a href="https://www.quizclothing.co.uk/careers" title="Visit Careers @ Quiz

">Careers @QUIZ
</a></p>
                        <p><a href="https://www.quizclothing.co.uk/privacy-policy" title="Visit Privacy policy">Privacy Policy
</a></p>
            <p><a href="https://www.quizclothing.co.uk/cookie-policy" title="Visit Cookie policy">Cookie Policy
</a></p>
            <p><a href="https://www.quizclothing.co.uk/sitemaps.xml" title="Visit Site Map
">Site Map
</a></p>
            <p><a href="https://www.quizclothing.co.uk/governance" title="Governance
">Governance
</a></p>
                    </div>
                </div>
                </div>
</div>


<div class="panel-group quicklinks" id="quicklinks-account">
                    <div class="panel panel-default">
                        <div class="panel-heading">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#quicklinks-account" href="#usefulinfo">My Account
</a></h4>
                        </div>
                        <div id="usefulinfo" class="panel-collapse collapse">
                            <div class="panel-body">
            <p><a href="https://www.quizclothing.co.uk/members/summary" title="Visit My Account Details
">My Account Details
</a></p>
            <p><a href="https://www.quizclothing.co.uk/members/orders" title="Visit Order History
">Order History
</a></p>
            <p><a href="https://www.quizclothing.co.uk/wishlist" title="Visit My Love List
">My Love List
</a></p>
                        <p><a href="https://www.quizclothing.co.uk/check-giftcard-balance" title="Visit Check my Quiz Gift Card Balance
">Gift Card Balance
</a></p>
            </div>
                </div>
                </div>
</div>

<div class="panel-group quicklinks" id="quicklinks-delivery">
                    <div class="panel panel-default">
                        <div class="panel-heading">
          <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#quicklinks-delivery" href="#morequiz">Delivery
</a></h4>
                        </div>
                        <div id="morequiz" class="panel-collapse collapse">
                        <div class="panel-body"><p><span class="tab">Collect in Store</span> Free</p>
<p><span class="tab">Standard</span> £3.95 (FREE on orders over £60)</p>
<p><span class="tab">Next Day</span> £5.50</p>
<p><span class="tab">CollectPlus</span> £3.95 (FREE on orders over £60)</p></div>
                </div>
                </div>
</div>
</div>

<div id="footerrow2">

<div class="footerrow2-column">
      <h3>Help
</h3>
      <p><a href="https://www.quizclothing.co.uk/information" title="Visit Frequently Asked Questions
">FAQs
</a></p>
      <p><a href="https://www.quizclothing.co.uk/contact-us" title="Visit Contact Us
">Contact Us
</a></p>
<p><a href="https://www.quizclothing.co.uk/information?1528204592#deliveryinformation" title="Visit Delivery Information">Delivery + Returns
</a></p>
      <p><a href="https://www.quizclothing.co.uk/google/store-locator" title="Visit Store Finder
">Store Finder
</a></p>
      <p><a href="https://www.quizclothing.co.uk/size-guide" title="Visit Size Guide
">Size Guide
</a></p>
                  <p><a href="https://www.quizclothing.co.uk/unidays" title="Visit UNiDAYS 15&amp;percent; Student Discount
">UNiDAYS 15%
</a></p>
      </div>


<div class="footerrow2-column">
      <h3>Information
</h3>
      <p><a href="https://www.quizclothing.co.uk/about-us" title="Visit About Us
">About Us
</a></p>
<p><a href="http://www.quizgroup.co.uk/" title="Visit Investor Relations" target="_blank">Investor Relations</a></p>
<p><a href="https://www.quizclothing.co.uk/terms-and-conditions" title="Visit Terms &amp; Conditions
">T+Cs
</a></p>
            <p><a href="https://www.quizclothing.co.uk/careers" title="Visit Careers @ Quiz

">Careers @QUIZ
</a></p>
          <p><a href="https://www.quizclothing.co.uk/privacy-policy" title="Visit Privacy policy">Privacy Policy
</a></p>
      <p><a href="https://www.quizclothing.co.uk/cookie-policy" title="Visit Cookie policy">Cookie Policy
</a></p>
      <p><a href="https://www.quizclothing.co.uk/sitemaps.xml" title="Visit Site Map
">Site Map
</a></p>
      <p><a href="https://www.quizclothing.co.uk/governance" title="Governance
">Governance
</a></p>
</div>

<div class="footerrow2-column">
      <h3>My Account
</h3>
      <p><a href="https://www.quizclothing.co.uk/members/summary" title="Visit My Account Details
">My Account Details
</a></p>
      <p><a href="https://www.quizclothing.co.uk/members/orders" title="Visit Order History
">Order History
</a></p>
      <p><a href="https://www.quizclothing.co.uk/wishlist" title="Visit My Love List
">My Love List
</a></p>
          <p><a href="https://www.quizclothing.co.uk/check-giftcard-balance" title="Visit Check my Quiz Gift Card Balance
">Gift Card Balance
</a></p>
     </div>

<div class="footerrow2-column" style="width:28%;">
      <h3>Delivery
</h3>
<p><span class="tab">Collect in Store</span> Free</p>
<p><span class="tab">Standard</span> £3.95 (FREE on orders over £60)</p>
<p><span class="tab">Next Day</span> £5.50</p>
<p><span class="tab">CollectPlus</span> £3.95 (FREE on orders over £60)</p>
</div>


<div class="footerrow2-column awards" style="min-width:24%;">
    <div class="hidden-md hidden-lg" style="text-align:center;">
                    <!-- <div class="row">
                <div class="col-xs-12">
                    <a href="https://issuu.com/quizclothing/docs/q0075_spring_2018_lr150?e=31668695/58767207" target="_blank" style="margin-bottom:20px;">
                        <h2 style="color: #FD779D;font-size:16px;text-align: center;font-weight: bolder;">QUIZ MAGAZINE</h2>
                        <p class="text-left;">Click here to read the Spring issue</p>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="https://issuu.com/quizclothing/docs/q0075_spring_2018_lr150?e=31668695/58767207" target="_blank">
                        <img class="img-responsive center-block" src='https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/redfish/template/quiz_magazine_cover.jpg' alt="QUIZ MAGAZINE" />
                    </a>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12">
                    <a href="https://www.quizman.com" target="_blank">
                        <img src="https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/assets/footer/QM-Footer.jpg" alt="QUIZMAN">
                    </a>
                </div>
            </div>
              <img src="https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/redfish/template/retailweek_award_2018.png" alt="" style="margin:0px 12px 0px 12px;">
    </div>
    <div class="hidden-xs hidden-sm" style="text-align:right;">
                    <!-- <div class="row">
                <div class="col-xs-6">
                    <a href="https://issuu.com/quizclothing/docs/q0075_spring_2018_lr150?e=31668695/58767207" target="_blank">
                        <h2 style="color: #FD779D;font-size:26px;font-weight: bolder;" class="text-right">QUIZ MAGAZINE</h2>
                        <p class="text-right">Click here to read the Spring issue</p>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 col-md-offset-3 col-lg-offset-0 col-lg-6">
                    <a href="https://issuu.com/quizclothing/docs/q0075_spring_2018_lr150?e=31668695/58767207" target="_blank">
                        <img class="img-responsive" src='https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/redfish/template/quiz_magazine_cover.jpg' alt="QUIZ MAGAZINE" style="margin-bottom: 20px;" />
                    </a>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12">
                    <a href="https://www.quizman.com" target="_blank">
                        <img src="https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/assets/footer/QM-Footer.jpg" alt="QUIZMAN">
                    </a>
                </div>
            </div>
              <img src="https://cdn.quizclothing.co.uk/version68/templates/quiz.co.uk.new/_images/redfish/template/retailweek_award_2018.png" alt="" style="margin:0px 6px 0px 6px;">
    </div>
</div>
<div style="clear:both"></div>
</div>




                <div id="footerrow3">
                <div id="footerrow3-mobilecards">
                      <img src="https://www.quizclothing.co.uk/templates/quiz.co.uk.new/_images/NEW_homepage/mobilecards1.png" alt="" width="250" height="52">
                        </div>
                    <div id="footerrow3-copyright">
                    © QUIZ 2018</div>
                    <div id="footerrow3-cards">
                         <img src="https://www.quizclothing.co.uk/templates/quiz.co.uk.new/_images/redfish/template/footercards_new.jpg" alt="" height="47">
                      </div>
                </div>
 <!-- start USP Main -->

 </div>
            <%- include('./hotspotloader.ejs', {}); %>
            <%- include('./ugcloader.ejs', {}); %>
        </footer>

    </body>
</html>