<html style="background-color: rgb(255, 255, 255);" class="">
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>HOME CENTRE - AMPLIENCE POC</title>

        <!-- Custom Stylesheet - HomeCentre -->
        <link rel="stylesheet" href="https://www.homecentre.com/_ui/responsive/landmark/css/app-en-style.min.css?v=20191122062619102">

        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- dynamic optimized style sheet resources -->
        <link rel="stylesheet" href="/public/css/main.css" media="screen, projection">

        <!-- Some Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Merriweather|Pacifico|Roboto|Staatliches&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/js/vendor/lory/dist/lory.min.js"></script>


        <script src="/js/custom/sliderHelper.js"></script>

        <!-- amnimation scripts -->
        <link rel="stylesheet" href="/js/vendor/aos/dist/aos.css" media="screen, projection">

        <!-- Adding the UGC Scripts -->
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ecomm-bridge-generator-im/ecomm-bridge-generator-im.min.js"></script>
        <link rel="stylesheet" href="https://s1.adis.ws/viewers/ugc/carousel/v2.7.0/viewer.min.css"> 
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ugc/shared/v2.7.0/shared.min.js"></script>
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ugc/carousel/v2.7.0/viewer.min.js"></script>
        <!-- End of the UGC scripts-->






    </head>

    <body class=" hmc2 page-homecentreae-Homepage-v2 pageType-ContentPage template-pages-layout-v2-lmgHomePageLayout pageLabel-homecentreae-Homepage-v2 language-en site-homecentreae i18n-ae" data-ol-has-click-handler="">
        <div class="off-canvas">
            <div class="mainContent">
                <%- include('./navigation.ejs', {}); %>

                <div class="amp-page">