<html style="background-color: rgb(255, 255, 255);" class="">
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>ANYA FINN</title>

        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- dynamic optimized style sheet resources -->
        <link rel="stylesheet" href="/public/css/main.css" media="screen, projection">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="/js/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/js/vendor/lory/dist/lory.min.js"></script>
        <script src="/js/custom/sliderHelper.js"></script>

        <!-- Adding the UGC Scripts -->
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ecomm-bridge-generator-im/ecomm-bridge-generator-im.min.js"></script>
        <link rel="stylesheet" href="https://s1.adis.ws/viewers/ugc/carousel/v2.7.0/viewer.min.css"> 
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ugc/shared/v2.7.0/shared.min.js"></script>
        <script type="text/javascript" src="https://s1.adis.ws/viewers/ugc/carousel/v2.7.0/viewer.min.js"></script>
        <!-- End of the UGC scripts-->


    </head>

    <body>
        <div class="off-canvas">
            <div class="mainContent">
                <%- include('./navigation.ejs', {}); %>

                <div class="amp-page">