<div ui-view="topNavigation" class="ng-scope">
    <div class="mobileNav hidden-lg hidden-md visible-sm visible-xs ng-scope">
        <nav class="top-navigation row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-link navbar-btn menu" ng-click="toggleOffCanvas()">
                    <span class="hyicon hyicon-menu"></span>
                </button>
            </div>
            <div class="col-xs-5 text-center">
                <a class="logo" href="/"><img style="max-height:46px" src="https://i8.amplience.net/i/nmdemo/AnyaFinn-Logo"></a>
            </div>
        </nav>
    </div>
    <div class="desktopNav hidden-xs hidden-sm visible-md visible-lg ng-scope">
        <div class="row info">
            <div class="col-xs-2 logo navbar-padding navbar-padding-left">
                <a class="logo" href="/">
                    <img height="46" alt="" src="https://i8.amplience.net/i/nmdemo/AnyaFinn-Logo">
                </a>
                <div class="af-banner__account-options">
                    <span class="af-banner__account-cart-total" onclick="afDebug.debug();">SHOW SLOTS</span>
                </div>
            </div>
        </div>
        <div class="row nav js-mainNav">
            <div class="content-container">
                <div class="navbar yamm navbar-default">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/womens">
                            Womens
                            </a>
                        </li>
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/mens">
                            Mens
                            </a>
                        </li>
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/beauty">
                            Beauty
                            </a>
                        </li>
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/lighting">
                            Lighting
                            </a>
                        </li>
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/furniture">
                            Furniture
                            </a>
                        </li>
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/electricals">
                            Electricals
                            </a>
                        </li>
                        </li>
                        <li ng-repeat="top_category in categories" class="dropdown yamm-fw ng-scope">
                            <a ui-sref="base.category( {catName: top_category.slug} )" class="js-megamenutoggle mainCategory categoryLevel ng-binding" href="/inspiration">
                            Inspiration
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>