
                </div>
            </div>
        </div>
        <footer>
            <%- include('./hotspotloader.ejs', {}); %>
            <%- include('./ugcloader.ejs', {}); %>
        </footer>
    </body>
</html>