<html style="background-color: rgb(255, 255, 255);" class="">
    <head>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>ANYA FINN</title>

        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- dynamic optimized style sheet resources -->
        <link rel="stylesheet" href="/public/css/main.css" media="screen, projection">
        <script src="/js/custom/leankit-card.js"></script>
    </head>

    <body>
        <div class="off-canvas">
            <div class="mainContentCard">
                <div class="amp-page">