
                </div>
            </div>
        </div>
        <footer>
        	<%- include('./debugloader.ejs', {}); %>
            <%- include('./hotspotloader.ejs', {}); %>
            <%- include('./asanaloader.ejs', {}); %>
        </footer>
    </body>
</html>