<%- include('../components/plain-header.ejs', {}); %>
    <%- content %>
<%- include('../components/plain-footer.ejs', {}); %>

<div class="leankit-card">
    <div class="leankit-card-status">
    </div>
</div>

<script language="javascript">
    window.leankitCard.displayStatus('<%- contentId %>', '.leankit-card');
</script>